NODE_ENV=development
PORT=5000 

MONGODB_URI=mongodb+srv://ali:uI4FdmUrp4zINIhn@cluster0.hivp2eu.mongodb.net/proteinbar?retryWrites=true&w=majority
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d


FRONTEND_ORIGINS=https://proteinbargroup.com,https://www.proteinbargroup.com,https://admin.proteinbargroup.com
FRONTEND_PUBLIC_URL=https://proteinbargroup.com
BACKEND_BASE_URL=https://api.proteinbargroup.com
CMI_PUBLIC_BASE_URL=https://api.proteinbargroup.com

# cloudinary
CLOUDINARY_CLOUD_NAME=ds6qok1on
CLOUDINARY_API_KEY=195681716749584
CLOUDINARY_API_SECRET=cAmVaBiNmY0SSUBcNylr-Uj1N5A
CLOUDINARY_FOLDER=proteinbar


CUSTOMER_SESSION_COOKIE_NAME=proteinbar_customer_session
CUSTOMER_SESSION_DAYS=7

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=sheikh7aali@gmail.com
SMTP_PASS=zyphswwdlldehwpk
SMTP_FROM_EMAIL=sheikh7aali@gmail.com
SMTP_FROM_NAME=Proteinbar 
ORDER_NOTIFICATION_EMAIL=admin@proteinbargroup.com

CMI_GATEWAY_URL=https://test-lanacash.cmi.co.ma/fim/est3dgate
CMI_CLIENT_ID=
CMI_STORE_KEY=
CMI_CURRENCY=504
CMI_LANG=fr
CMI_STORE_TYPE=3D_PAY_HOSTING
CMI_TRAN_TYPE=PreAuth
CMI_REFRESH_TIME=5
EXAMPLE_ENV_VAR=RnnXH6UPJE'0M'FN
test=a