NODE_ENV=development
PORT=5000 

MONGODB_URI=mongodb+srv://ali:uI4FdmUrp4zINIhn@cluster0.hivp2eu.mongodb.net/proteinbar?retryWrites=true&w=majority
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d
FRONTEND_ORIGINS=http://localhost:3000,http://localhost:3001
CLOUDINARY_CLOUD_NAME=ds6qok1on
CLOUDINARY_API_KEY=195681716749584
CLOUDINARY_API_SECRET=cAmVaBiNmY0SSUBcNylr-Uj1N5A
CLOUDINARY_FOLDER=proteinbar
